<ion-nav-bar class="bar-energized">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-energized tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="UXpress" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" ui-sref="menu.uxpress">
    <ion-nav-view name="mainContent"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="UFeeds" icon-off="ion-social-twitter-outline" icon-on="ion-social-twitter" href="#/tab/ufeeds">
    <ion-nav-view name="ufeeds"></ion-nav-view>
  </ion-tab>

    <!-- Account Tab -->
  <ion-tab title="Utilities" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/utilities">
    <ion-nav-view name="utilities"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
