<ion-view view-title="YOUth Twitter Feed" ng-controller="TwitterFeedCtrl">
  <ion-content class="has-header" ng-init="init()">
  <ion-refresher on-refresh="init()"></ion-refresher>
    <div class="list">
      <a class="item item-avatar" ng-repeat="tweet in tweets">
        <img ng-src="{{ tweet.user.profile_image_url }}">
        <h2>{{ tweet.user.name }}</h2>
        <small>@{{ tweet.user.screen_name }}</small>
        <small class="time"> {{ tweet.created_at | formatTwitterDate}}</small>
        <!-- <p ng-bind-html="tweet.text | formatTwitterText"></p> -->
        <pre ng-bind-html="tweet.text | formatTwitterText"></pre>
      </a>
    </div>
  </ion-content>
</ion-view>
<!-- 
<ion-view title="Youth Tweets" ng-controller="UfeedsCtrl">
  <ion-content class="has-header">
  <div class="list list-inset">
  <div class="button-bar">
    <a class="button button-balanced button-block icon-left ion-ios-download" ng-click="loadTwitterFeeds()">Load Live Tweets related to Youths</a>
  </div> 
</div>
</form>

<div class="card">
  <div class="item item-divider item-text-wrap">
    Register Your Mobile Number here to receive live tweets as SMS!
  </div>
  <div class="item">
    <a class="button button-balanced button-block" ng-click="smsTweets()"><i class="fa fa-floppy-o"></i> Register for Tweets</a>
  </div>
</div>

</ion-content>
</ion-view> -->

