<ion-view title="YOUth Assessment Questionnaire" ng-controller="questionnaireCtrl">
  <ion-content class="has-header">
  
  <form name="registrationForm" ng-submit="mindSubmit()">
  <div class="list list-inset">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Enter your Name:</span>
	    <input type="text" placeholder="Enter your name" name="fullname" ng-model="data.fullname" required>
	    <span ng-show="registrationForm.fullname.$error.required && registrationForm.$dirty" class="error_msg">
	       <i class="ion-alert-circled"></i> Please enter your name!
	    </span>
	  </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Gender:
      </div>
      <select name="gender" ng-model="data.gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Do you want to talk to youth counsellor:
      </div>
      <select name="talk_counsellor" ng-model="data.talk_counsellor">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Are you feeling lonely:
      </div>
      <select name="feeling_lonely" ng-model="data.feeling_lonely">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </label>

	  <label class="item item-input item-floating-label">
	    <span class="input-label">Where are you now:</span>
	    <input type="text" placeholder="Where are you now" name="location" ng-model="data.location" required>
	    <span ng-show="registrationForm.location.$error.required && registrationForm.$dirty" class="error_msg">
	       <i class="ion-alert-circled"></i> Please enter your current location!
	    </span>
	  </label>

	  <label class="item item-input item-floating-label">
	    <span class="input-label">Share your thoughts:</span>
	    <textarea placeholder="Share your thoughts" name="thoughts" ng-model="data.thoughts" required></textarea>
	    <span ng-show="registrationForm.thoughts.$error.required && registrationForm.$dirty" class="error_msg">
	       <i class="ion-alert-circled"></i> Please enter your thoughts!
	    </span>
	  </label>

	<div class="button-bar">
	  <button class="button button-balanced button-block icon-left ion-ios-upload" type="submit" name="submit" ng-disabled="registrationForm.$invalid" >Submit Feedback</button>
	  <a class="button button-assertive button-block icon-left ion-ios-close" ui-sref="home.uxpress">Cancel</a>
	</div> 
</div>
</form>

  <div class="card">
      <div class="item item-text-wrap">
          Response: <b ng-bind="response"></b>
      </div>
  </div>


  </ion-content>
</ion-view>