<ion-view title="Share your thoughts" ng-controller="questionnaireCtrl" ng-init="getDzongkhag()">
  <ion-content class="has-header">
  
  <form name="registrationForm" ng-submit="mindSubmit()">
  <div class="list list-inset">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Enter your Name:</span>
	    <input type="text" placeholder="Enter your name" name="fullname" ng-model="data.fullname" required>
	    <span ng-show="registrationForm.fullname.$error.required && registrationForm.$dirty" class="error_msg">
	       <i class="ion-alert-circled"></i> Please enter your name!
	    </span>
	  </label>

  <label class="item item-input item-select">
  <div class="input-label">
    Gender:
  </div>
    <select name="gender" ng-model="data.gender" required>
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
  </label>

  <span ng-show="registrationForm.gender.$error.required && registrationForm.$dirty" class="item error_msg">
    <i class="ion-alert-circled"></i> Please select a gender
  </span>

  <label class="item item-input item-floating-label">
    <span class="input-label">Enter your Mobile Number:</span>
    <input type="number" placeholder="Enter your Mobile Number" name="mobile" ng-minlength="8" ng-maxlength="8" ng-model="data.mobile" ng-pattern="/^(16|17|77)[0-9]{6}$/" required>
    <span ng-show="registrationForm.mobile.$error.required && registrationForm.$dirty" class="error_msg">
       <i class="ion-alert-circled"></i> Please enter your mobile number!
    </span>

    <span ng-show="registrationForm.mobile.$error.pattern && registrationForm.$dirty" class="error_msg">
       <i class="ion-alert-circled"></i> Invalid Phone Number!
    </span>

    <span ng-show="registrationForm.mobile.$error.number && registrationForm.$dirty" class="error_msg">
      <i class="ion-alert-circled"></i> Not an mobile number
    </span>
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Enter your Email Address:</span>
    <input type="email" placeholder="Email Address" name="email" ng-model="data.email" required>
    <span ng-show="registrationForm.email.$error.required && registrationForm.$dirty" class="error_msg">
      <i class="ion-alert-circled"></i> Please enter an email address
    </span>

    <span ng-show="registrationForm.email.$error.email && registrationForm.$dirty" class="error_msg">
      <i class="ion-alert-circled"></i> Not an email address
    </span>
  </label>

 <label class="item item-input item-select">
    <div class="input-label">
      Dzongkhag:
    </div>
    <select name="dzongkhag" ng-model="data.dzongkhag" required>
      <option value="">[Select Dzongkhag]</option>
      <option ng-repeat="dzongkhag in dzongkhags" value="{{dzongkhag.dzongkhag_id}}">{{ dzongkhag.dzongkhag_name }}</option>
    </select>
  </label>

    <span ng-show="registrationForm.dzongkhag.$error.required && registrationForm.$dirty" class="error_msg item">
    <i class="ion-alert-circled"></i> Please select a Dzongkhag
  </span>

  <label class="item item-input item-floating-label">
    <span class="input-label">Enter Current Location:</span>
    <input type="text" placeholder="Enter Current Location " name="area" ng-model="data.area">
  </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Talk to youth counsellor?
      </div>
      <select name="talk_counsellor" ng-model="data.talk_counsellor" required>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </label>

    <span ng-show="registrationForm.talk_counsellor.$error.required && registrationForm.$dirty" class="item error_msg">
      <i class="ion-alert-circled"></i> Please select an option
    </span>

    <label class="item item-input item-select">
      <div class="input-label">
        Are you feeling lonely?
      </div>
      <select name="feeling_lonely" ng-model="data.feeling_lonely" required>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </label>

    <span ng-show="registrationForm.feeling_lonely.$error.required && registrationForm.$dirty" class="item error_msg">
      <i class="ion-alert-circled"></i> Please select an option
    </span>    

	  <label class="item item-input item-floating-label">
	    <span class="input-label">Share your thoughts:</span>
	    <textarea placeholder="Share your thoughts" name="thoughts" ng-model="data.thoughts" required></textarea>
	    <span ng-show="registrationForm.thoughts.$error.required && registrationForm.$dirty" class="error_msg">
	       <i class="ion-alert-circled"></i> Please enter your thoughts!
	    </span>
	  </label>

	<div class="button-bar">
	  <button class="button button-balanced button-block" type="submit" name="submit" ng-disabled="registrationForm.$invalid"><i class="fa fa-floppy-o"></i> Submit Feedback</button>
	  <a class="button button-assertive button-block" ui-sref="home.uxpress"><i class="fa fa-times-circle"></i> Cancel</a>
	</div> 
</div>
</form>

  <div class="card">
      <div class="item item-text-wrap">
          Response: <b ng-bind="response"></b>
      </div>
  </div>


  </ion-content>
</ion-view>