<ion-view title="Counselling Registrations" ng-controller="registrationCtrl" ng-init="getDzongkhag(); getIssue()">
  <ion-content class="has-header">
  
  <form name="registrationForm" ng-submit="counsellingSubmit()">
  <div class="list list-inset">
  <label class="item item-input item-floating-label">
    <span class="input-label">Enter your Name:</span>
    <input type="text" placeholder="Enter your name" name="fullname" ng-model="data.fullname">
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Gender:
    </div>
    <select name="gender" ng-model="data.gender" required>
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
  </label>

    <span ng-show="registrationForm.gender.$error.required && registrationForm.$dirty" class="error_msg item">
      <i class="ion-alert-circled"></i> Please select a gender
    </span>

  <label class="item item-input item-floating-label">
    <span class="input-label">Enter your Age:</span>
    <input type="text" placeholder="Enter your Age" ng-model="data.age" name="age" required>
    <span ng-show="registrationForm.age.$error.required && registrationForm.$dirty" class="error_msg">
       <i class="ion-alert-circled"></i> Please enter your age!
    </span>
  </label>
  
  <label class="item item-input item-floating-label">
    <span class="input-label">Enter your Mobile Number:</span>
    <input type="number" placeholder="Enter your Mobile Number" name="mobile" ng-minlength="8" ng-maxlength="8" ng-model="data.mobile" ng-pattern="/^(16|17|77)[0-9]{6}$/" required>
    <span ng-show="registrationForm.mobile.$error.required && registrationForm.$dirty" class="error_msg">
       <i class="ion-alert-circled"></i> Please enter your mobile number!
    </span>

    <span ng-show="registrationForm.mobile.$error.pattern && registrationForm.$dirty" class="error_msg">
       <i class="ion-alert-circled"></i> Invalid Phone Number!
    </span>

    <span ng-show="registrationForm.mobile.$error.number && registrationForm.$dirty" class="error_msg">
      <i class="ion-alert-circled"></i> Not an mobile number
    </span>
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Enter your Email Address:</span>
    <input type="email" placeholder="Email Address" name="email" ng-model="data.email" required>
    <span ng-show="registrationForm.email.$error.required && registrationForm.$dirty" class="error_msg">
      <i class="ion-alert-circled"></i> Please enter an email address
    </span>

    <span ng-show="registrationForm.email.$error.email && registrationForm.$dirty" class="error_msg">
      <i class="ion-alert-circled"></i> Not an email address
    </span>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Dzongkhag:
    </div>
    <select name="dzongkhag" ng-model="data.dzongkhag" required>
      <option value="">[Select Dzongkhag]</option>
      <option ng-repeat="dzongkhag in dzongkhags" value="{{dzongkhag.dzongkhag_id}}">{{ dzongkhag.dzongkhag_name }}</option>
    </select>
  </label>

    <span ng-show="registrationForm.dzongkhag.$error.required && registrationForm.$dirty" class="error_msg item">
    <i class="ion-alert-circled"></i> Please select a Dzongkhag
  </span>

  <label class="item item-input item-floating-label">
    <span class="input-label">Enter Current Location:</span>
    <input type="text" placeholder="Enter Current Location " name="area" ng-model="data.area">
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Issues:
    </div>
    <select name="issue" ng-model="data.issue" required>
      <option value="">[Select Issue]</option>
      <option ng-repeat="issue in issues" value="{{issue.issue_id}}">{{ issue.issue_name }}</option>
    </select>
  </label>

    <span ng-show="registrationForm.issue.$error.required && registrationForm.$dirty" class="error_msg item">
      <i class="ion-alert-circled"></i> Please select a Issue
    </span>

  <label class="item item-input item-floating-label">
    <span class="input-label">Enter Counselling Details:</span>
    <textarea placeholder="Enter Counselling Details" name="details" ng-model="data.details" required></textarea>
    <span ng-show="registrationForm.details.$error.required && registrationForm.$dirty" class="error_msg">
       <i class="ion-alert-circled"></i> Please enter your counselling needs!
    </span>
  </label>

	<div class="button-bar">
	  <button class="button button-balanced button-block" type="submit" name="submit" ng-disabled="registrationForm.$invalid"><i class="fa fa-floppy-o"></i> Submit</button>
	  <a class="button button-assertive button-block" ui-sref="home.uxpress"><i class="fa fa-times-circle"></i>
 Cancel</a>
	</div> 
</div>
</form>

  <div class="card">
      <div class="item item-text-wrap">
          Response: <b ng-bind="response"></b>
      </div>
  </div>


  </ion-content>
</ion-view>