<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button class="button-clear icon ion-ios-arrow-back"></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button icon ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-energized">
      <h1 class="title">::App Menus::</h1>
    </header>
    <ion-content class="has-header sidemenu">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="home.index">
            <i class="icon ion-ios-home icon-size-side-menu"></i> Home
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="home.uxpress">
        <i class="icon ion-ios-paper icon-size-side-menu"></i> UXpress
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="home.ufeeds">
        <i class="icon ion-social-twitter icon-size-side-menu"></i> UFeeds
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="home.utilities">
        <i class="icon ion-settings icon-size-side-menu"></i> Utilities
        </ion-item>
      </ion-list>
  </ion-side-menu>
</ion-side-menus>