<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button class="button-icon button-clear">
        <i class="icon fa fa-chevron-circle-left"></i>
      </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-energized">
      <h1 class="title">App Menus</h1>
    </header>
    <ion-content class="has-header sidemenu">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="home.index">
            <i class="fa fa-home fa-lg"></i> Home
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="home.uxpress">
          <i class="fa fa-comments fa-lg"></i> UXpress
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="home.ufeeds">
          <i class="fa fa-twitter fa-lg"></i> UFeeds
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="home.utilities">
          <i class="fa fa-tasks fa-lg"></i> Utilities
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="home.about">
          <i class="fa fa-info-circle fa-lg"></i> About
        </ion-item>
      </ion-list>
  </ion-side-menu>
</ion-side-menus>