<div class="bar bar-subheader bar-energized">
  <h2 class="title">Dzongkhag: Counsellors</h2>
</div>

<!-- <ion-view class="app-content">
  <ion-content class="has-header">
    <div class="list">

  	 <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Thimphu
      <i class="icon ion-ios-arrow-right"></i>
	   </a>

     <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Samdrupjongkhar
      <i class="icon ion-ios-arrow-right"></i>
     </a>

      <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Bumthang
      <i class="icon ion-ios-arrow-right"></i>
     </a>

      <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Punakha
      <i class="icon ion-ios-arrow-right"></i>
     </a>

      <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Trongsa
      <i class="icon ion-ios-arrow-right"></i>
     </a>

      <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Zhemgang
      <i class="icon ion-ios-arrow-right"></i>
     </a>

      <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Haa
      <i class="icon ion-ios-arrow-right"></i>
     </a>

      <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Paro
      <i class="icon ion-ios-arrow-right"></i>
     </a>

      <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Dagana
      <i class="icon ion-ios-arrow-right"></i>
     </a>

      <a class="item item-icon-left item-icon-right" ui-sref="app.counsellors">
      <i class="icon ion-android-contacts"></i>
      Sarpang
      <i class="icon ion-ios-arrow-right"></i>
     </a>

    </div>
  </ion-content>
</ion-view> -->

<!-- 
<ion-view ng-controller="DzongkhagsCtrl as vm">
  <ion-content class="has-header">
    <div class="list">
        <a class="item item-icon-right" ng-repeat="dzongkhag in vm.dzongkhags" ng-click="vm.selectDzongkhag(dzongkhag.dzongkhag_id)">
            {{dzongkhag.dzongkhag_name}}
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </div>
  </ion-content>
</ion-view> -->
<ion-view ng-controller="DzongkhagsCtrl" class="app-content">
  <ion-content class="has-header">
    <div class="list">
        <a class="item item-icon-left item-icon-right" ng-repeat="dzongkhag in dzongkhags" ng-click="selectDzongkhag({{dzongkhag.dzongkhag_id}})">
            <i class="icon ion-android-contacts"></i>
            {{dzongkhag.dzongkhag_name}}
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </div>
  </ion-content>
</ion-view> -->
