<ion-view title="Useful Web Links for Youths">
  <ion-content class="has-header padding" ng-controller="UsefulWebLinksCtrl">
    <div class="list">
      
      <a class="btn button button-stable button-block item item-icon-right" ng-click="openLink('http://admission.rub.edu.bt/')">
      RUB Admission Centre
      <i class="icon fa fa-external-link-square"></i>
      </a>

      <a class="btn button button-stable button-block item item-icon-right" ng-click="openLink('http://www.bcsea.bt/loginsystem/studentb/')">
       Class-X Results
      <i class="icon fa fa-external-link-square"></i>
      </a>

      <a class="btn button button-stable button-block item item-icon-right" ng-click="openLink('http://www.bcsea.bt/loginsystem/student/')">
        Class-XII Results
      <i class="icon fa fa-external-link-square"></i>
      </a>

      <a class="btn button button-stable button-block item item-icon-right" ng-click="openLink('http://www.molhr.gov.bt/JobPortal/')" >
       Job Portal
      <i class="icon fa fa-external-link-square"></i>
      </a>

       <a class="btn button button-stable button-block item item-icon-right" ng-click="openLink('https://www.citizenservices.gov.bt/web/guest/pubservicepage')" >
       Education Services
      <i class="icon fa fa-external-link-square"></i>
      </a>
    
  </div>
 </ion-content>
</ion-view>