/* Empty. Add your own CSS if you like */
.icon-size-side-menu {
	font-size: 26px;
}

.app-content-twitter{
  margin-top: 75px;
  /*margin-left: 5px;*/
}

.item-floating-label .input-label.has-input{
	color: #1966A5;
}

.item-select .input-label{
  color: #1966A5;
}

.error_msg{
	color: #971313;
}

 .iframe-issue {
    -webkit-overflow-scrolling: touch !important;
    overflow: scroll !important;
  }