/* Empty. Add your own CSS if you like */
.icon-size-side-menu {
	font-size: 26px;
}

.app-content{
  margin-top: 46px;
  /*margin-left: 5px;*/
}

.app-content-twitter{
  margin-top: 75px;
  /*margin-left: 5px;*/
}

.list .item.item-divider {
  color: #555;
  background-color: #C0C0C0; 
  font-weight: bold; 
}

.item-floating-label .input-label.has-input{
	color: #1966A5;
}

.error_msg{
	color: #971313;
}